body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
}

h1 {
    text-align: center;
}

form {
    width: 50%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

label {
    display: inline-block;
    width: 100px;
    margin-bottom: 10px;
}

input[type=text], input[type=number] {
    padding: 10px;
    margin-bottom: 15px;
    width: 100%;
    border: none;
    border-radius: 3px;
    background-color: #f0f0f0;
}

input[type=button] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 10px;
}

input[type=button]:hover {
    background-color: #3e8e41;
}

input[type=button]:last-child {
    margin-right: 0;
}
